﻿@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="">@context.User.Identity.Name</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="account/logout">Logout</NavLink>
            </li>
        </ul>
    </Authorized>
    <NotAuthorized>
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="account/login">Login</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="account/register">Register</NavLink>
            </li>
        </ul>
    </NotAuthorized>
</AuthorizeView>

@code
{

}
