﻿<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="">Blazor Contacts</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="list">List</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="editor">Add</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="users">Users</NavLink>
                    </li>
                </ul>
                <SearchBar></SearchBar>
                <AccountMenu></AccountMenu>
            </div>
        </div>
    </nav>
</header>

@code 
{

}
