﻿<form class="form-inline">
    <input class="form-control" type="search" placeholder="Search">
    @*<div class="list-group">
        <a *ngFor="let result of searchResults" [routerLink]="['/contact', result.id]" href="#" class="list-group-item list-group-item-action">
            <p>{{result.name}} {{result.surname}}</p>
            <small>{{result.phone}}</small>
        </a>
    </div>*@
</form>

@code {

}
