﻿<AuthorizeView>
    <Authorized>
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@("profile/" + context.User.Identity.Name)">
                    <span class="oi oi-home" aria-hidden="true"></span> @context.User.Identity.Name
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="logout">
                    <span class="oi oi-people" aria-hidden="true"></span> Logout
                </NavLink>
            </li>
        </ul>
    </Authorized>
    <NotAuthorized>
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-home" aria-hidden="true"></span> Login
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="register">
                    <span class="oi oi-people" aria-hidden="true"></span> Regitser
                </NavLink>
            </li>
        </ul>
    </NotAuthorized>
</AuthorizeView>





@code {
    
}
