﻿@page "/list"

@inject ContactRepository ContactRepository
@inject IJSRuntime IJSRuntime

<h1>Contact List</h1>

@if (Contacts != null)
{
    <div class="list-group my-4">

        @foreach (var contact in Contacts)
        {
            <ContactItem Contact="contact" Delete="OnDeleteAsync"></ContactItem>
        }

    </div>
}
else
{
    <img src="assets/spinner.svg" alt="spinner">
}

<Modal Save="OnDeleteConfirm"></Modal>

@code 
{
    public IEnumerable<ContactDTO> Contacts { get; set; }
    string deleteId = null;

    protected override async Task OnInitializedAsync()
    {
        Contacts = await ContactRepository.GetAllAsync();
    }

    private async Task OnDeleteAsync(string id)
    {
        deleteId = id;
        await IJSRuntime.InvokeVoidAsync("showModal");
    }

    async Task OnDeleteConfirm()
    { 
        await ContactRepository.DeleteAsync(deleteId);
        Contacts = await ContactRepository.GetAllAsync();
    }
}
