﻿@page "/editor"

@inject ContactRepository ContactRepository
@inject NavigationManager NavigationManager


<h1>New Contact</h1>

<div class="row my-4">

    <div class="col-md-6">
        <EditForm Model="Contact" OnValidSubmit="OnSubmitAsync">

            <FluentValidation.FluentValidator></FluentValidation.FluentValidator>

            <ValidationSummary />

            <div class="form-group">
                <label for="name">Name:</label>
                <InputText @bind-Value="Contact.Name" id="name" class="form-control" />
                <ValidationMessage For="() => Contact.Name"></ValidationMessage>
            </div>

            <div class="form-group">
                <label for="surname">Surname:</label>
                <InputText @bind-Value="Contact.Surname" id="surname" class="form-control" />
                <ValidationMessage For="() => Contact.Surname"></ValidationMessage>
            </div>

            <div class="form-group">
                <label for="phone">Phone:</label>
                <InputText @bind-Value="Contact.Phone" id="phone" class="form-control" />
                <ValidationMessage For="() => Contact.Phone"></ValidationMessage>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <InputText @bind-Value="Contact.Email" id="email" type="email" class="form-control" />
                <ValidationMessage For="() => Contact.Email"></ValidationMessage>
            </div>

            @foreach (var item in Phones)
            {
                <div class="form-group">
                    <label>Additional phone:</label>
                    <div class="input-group mb-3">
                        <input class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-outline-danger" type="button">Delete</button>
                        </div>
                    </div>
                </div>
            }

            <button @onclick="OnAddPhoneClick" type="button" class="btn btn-light w-100 my-4">Add phone</button>
            <button type="submit" class="btn btn-primary mr-2">Add</button>
            <button type="reset" class="btn btn-light">Reset</button>
        </EditForm>
    </div>

    <div class="col-md-6">

    </div>

</div>

@code 
{
    public ContactDTO Contact { get; set; } = new ContactDTO();
    public ICollection<string> Phones { get; set; } = new List<string>();

    public async Task OnSubmitAsync()
    {
        Contact = await ContactRepository.CreateAsync(Contact);
        NavigationManager.NavigateTo($"/details/{Contact.Id}");
    }

    public void OnAddPhoneClick()
    {
        Phones.Add(null);
    }
}
