﻿@page "/details/{id}"

@inject ContactRepository ContactRepository
@inject NavigationManager NavigationManager

@if (Contact != null)
{
    <h1>@Contact.Name @Contact.Surname</h1>

    <h5>Phone: </h5>
    <a href="tel:@Contact.Phone">@Contact.Phone</a>
    <hr>

    @if (Contact.AdditionalPhones.Count() > 0)
    {
        <h5>Additional phones: </h5>
        @foreach (var phone in Contact.AdditionalPhones)
        {
            <a href="tel:@phone">@phone<br></a>
        }
        <hr>
    }

    @if (!String.IsNullOrWhiteSpace(Contact.Email))
    {
        <h5>Email: </h5>
        <a href="mailto:@Contact.Email">@Contact.Email</a>
        <hr>
    }

    <button @onclick="OnDeleteAsync" class="btn btn-danger">Delete</button>
}
else
{
    <img src="assets/spinner.svg" alt="spinner">
}

@code
{

    [Parameter]
    public string Id { get; set; }

    public ContactDTO Contact { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Contact = await ContactRepository.GetByIdAsync(Id);
    }

    private async Task OnDeleteAsync()
    {
        await ContactRepository.DeleteAsync(Id);
        NavigationManager.NavigateTo("");
    }

}
