﻿@page "/login"

@inject AccountService AccountService
@inject NavigationManager NavigationManager

<h1>Login</h1>

<div class="row my-4">

    <div class="col-md-6">
        <EditForm OnValidSubmit="OnSubmit" Model="credentials" >
            <FluentValidation.FluentValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="email">Email:</label>
                <InputText @bind-Value="credentials.Email" id="email" type="email" class="form-control" />
                <ValidationMessage For="@(() => credentials.Email)" />
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <InputText @bind-Value="credentials.Password" id="password" type="password" class="form-control" />
                <ValidationMessage For="@(() => credentials.Password)" />
            </div>

            <button type="submit" class="btn btn-primary mr-2">Login</button>
        </EditForm>
    </div>

</div>

@code {

    public LoginCredentialsDto credentials { get; set; } = new LoginCredentialsDto();

    async Task OnSubmit()
    {
        try
        {
            await AccountService.Login(credentials);
            NavigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}
