﻿@page "/users"

@attribute [Authorize]

@inject AccountService AccountService

<h1>AccountList</h1>

<AuthorizeView>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name!</h3>
        <p>You can only see this content if you're authenticated.</p>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @if (users != null)
                {
                    @foreach (var user in users)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.UserName</td>
                        </tr>
                    }
                }
                else
                { 
                    <img src="/assets/spinner.svg" alt="loading"/>
                }
            </tbody>
        </table>
    </Authorized>
</AuthorizeView>

@code 
{ 
    IEnumerable<UserDTO> users;

    protected override async Task OnInitializedAsync()
    {
        users = await AccountService.GetAllAccounts();
    }
}
