﻿@page "/account/login"

@page "/account/login"

@inject AccountService AccountService
@inject NavigationManager NavigationManager

<h1>Login</h1>

<div class="row my-4">

    <div class="col-md-6">
        <EditForm Model="model" OnValidSubmit="OnSubmitAsync">
            <FluentValidation.FluentValidator></FluentValidation.FluentValidator>
            <ValidationSummary></ValidationSummary>

            <div class="form-group">
                <label for="email">Email:</label>
                <InputText @bind-Value="model.Email" id="email" type="email" class="form-control" />
                <ValidationMessage For="() => model.Email"></ValidationMessage>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <InputText @bind-Value="model.Password" id="password" type="password" class="form-control" />
                <ValidationMessage For="() => model.Password"></ValidationMessage>
            </div>

            <button type="submit" class="btn btn-primary mr-2">Login</button>
        </EditForm>
    </div>

    <div class="col-md-6">

    </div>

</div>

@code
{

    AccountCredentialsDTO model = new AccountCredentialsDTO();

    async Task OnSubmitAsync()
    {
        try
        {
            await AccountService.LoginAsync(model);
            NavigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}
