﻿@page "/account/logout"

@inject AccountService AccountService

<h1>Logout</h1>
<NavLink href="">Go back to the main page...</NavLink>

@code
{ 
    protected override async Task OnInitializedAsync()
    {
        await AccountService.LogoutAsync();
    }
}
