﻿<div class="list-group-item list-group-item-action">
    <a href="details/@Contact.Id" class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">@Contact.Name @Contact.Surname</h5>
    </a>
    <p class="mb-1">Phone: @Contact.Phone</p>
    <p class="mb-1">Email: @(Contact.Email ?? "None")</p>
    <button @onclick="OnDeleteClickAsync" class="btn btn-danger">Delete</button>
</div>

@code {

    [Parameter]
    public ContactDTO Contact { get; set; }

    [Parameter]
    public EventCallback<string> Delete { get; set; }

    public async Task OnDeleteClickAsync()
    {
        await Delete.InvokeAsync(Contact.Id);
    }
}
